alabaster==0.7.8
apturl==0.5.2
asteval==0.9.32
astroid==2.3.3
async-timeout==4.0.3
attrs==23.1.0
Automat==22.10.0
Babel==2.6.0
backcall==0.1.0
bcc==0.12.0
bcrypt==3.1.7
blinker==1.4
Brlapi==0.7.0
cached-property==1.5.1
certifi==2019.11.28
cffi==1.16.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
colored==1.4.4
command-not-found==0.3
configobj==5.0.6
configparser==6.0.1
constantly==15.1.0
contourpy==1.1.1
cryptography==41.0.6
cupshelpers==1.0
cycler==0.12.1
Cython==0.29.14
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distro==1.4.0
distro-info==0.23+ubuntu1.1
docker==4.1.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
dpkt==1.9.8
duplicity==0.8.12.0
entrypoints==0.3
fabric==2.5.0
fail2ban==0.11.1
fasteners==0.14.1
filelock==3.13.1
fonttools==4.44.3
fsspec==2023.10.0
future==0.18.2
gitdb==4.0.11
GitPython==3.1.42
googleapis-common-protos==1.63.1
grpcio==1.44.0
gurobipy==10.0.3
httplib2==0.14.0
humanreadable==0.4.0
hyperlink==21.0.0
idna==2.8
imagesize==1.2.0
importlib-metadata==1.5.0
importlib-resources==6.1.1
incremental==22.10.0
invoke==1.3.0
iotop==0.6
ipaddr==2.2.0
ipaddress==1.0.23
ipython==7.13.0
ipython_genutils==0.2.0
isort==4.3.4
jedi==0.15.2
Jinja2==3.1.2
joblib==1.3.2
jsonschema==3.2.0
keyring==18.0.1
kiwisolver==1.4.5
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
libvirt-python==6.1.0
lockfile==0.12.2
logilab-common==1.4.3
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.1.3
matplotlib==3.7.3
mbstrdecoder==1.1.3
mccabe==0.6.1
meld==3.20.2
meson==0.53.2
mininet==2.3.0.dev6
monotonic==1.5
more-itertools==4.2.0
mpmath==1.3.0
natsort==8.4.0
netaddr==0.7.19
netifaces==0.10.4
networkx==3.1
npf==1.0.56
npf-web-extension==0.6.4
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.1.0
olefile==0.46
ordered-set==4.1.0
ovs==3.3.0
# Editable Git install with no remote (p4utils==0.2)
packaging==23.2
pandas==2.0.3
paramiko==2.6.0
parso==0.5.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pingparsing==1.4.1
ply==3.11
prompt-toolkit==2.0.10
protobuf==3.20.3
psutil==5.9.6
ptf==0.10.0
pyasn1==0.5.1
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.21
pycups==1.9.73
pydotplus==2.0.2
pyflakes==2.1.1
pyg-lib==0.3.1+pt21cu121
Pygments==2.3.1
PyGObject==3.36.0
pygraphviz==1.5
pygtrie==2.5.0
PyHamcrest==1.9.0
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==24.2.1
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyRFC3339==1.1
pyroute2==0.5.9
pyrsistent==0.15.5
pyte==0.4.8
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
pytoml==0.1.21
pytz==2024.1
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
redis==5.0.1
regex==2023.12.25
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
require-python-3==1
roman==2.0.0
scapy==2.5.0
scikit-learn==1.3.2
scipy==1.10.1
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
smmap==5.0.1
sortedcontainers==2.1.0
Sphinx==1.8.5
ssh-import-id==5.10
subprocrunner==2.0.1
sympy==1.12
systemd-python==234
texttable==1.6.2
threadpoolctl==3.2.0
thrift==0.13.0
torch==2.1.1
torch-cluster==1.6.3+pt21cu121
torch-scatter==2.1.2+pt21cu121
torch-sparse==0.6.18+pt21cu121
torch-spline-conv==1.2.2+pt21cu121
torch_geometric==2.4.0
torchaudio==2.1.1
torchvision==0.16.1
tqdm==4.66.1
traitlets==4.3.3
treelib==1.7.0
triton==2.1.0
Twisted==23.8.0
typepy==1.3.2
typing==3.7.4.3
typing_extensions==4.8.0
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
vboxapi==1.0
wadllib==1.3.3
wcwidth==0.1.8
webcolors==1.13
websocket-client==0.53.0
wrapt==1.11.2
xkit==0.0.0
youtube-dl==2020.3.24
zipp==3.17.0
zope.interface==6.0
